
.dashboard {
    width: 100%;
    height: 100vh;
    background: url("/img/4.jpg");
    background-size: cover;
    color: white;

}

.dashboard a {
    color: #fff;
}

.header {
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
    font-weight: bold;

}

.header span {
    margin-right: 5px;

}

.temperature {
    text-align: center;
    padding-top: 30px;

}

.temperature h2 {
    font-size: 70px;
    margin: 0;
    padding: 0;
    color: white;
}

.temperature span {
    padding-right: 10px;
    letter-spacing: 1px;
}

.temperature .extra {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}

.moreInfo {
    padding: 40px 10px 10px 10px;

}

.moreInfo img {
    vertical-align: baseline;
}

.moreInfo .moreInfo-wrapper {
    padding-top: 10px;
    border-top: .5px solid hsla(0, 0%, 100%, .5);
    display: flex;
}

.moreInfo .moreInfo-wrapper:nth-last-of-type(1) {
    border: none;
}
.moreDay {
    flex: 1;
    padding: 5px 10px;
    border-right: .5px solid hsla(0,0%,100%,.5);
    text-align: center;

}
.moreDay p{
    margin:0;
    padding:0;
}
.moreDay .temp{
    padding: 10px 0 10px 8px;
    display:inline-block;
}
.echartInfo {
    padding-top: 10px;
    width: 100%;
    height: 30vh;
}